@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1; /* Rose Gold */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #2E4057; /* Dark Slate Blue */
}

.form-container {
  background-color: #fafafa; /* Rose Gold */
  padding: 20px;
  margin: 40px auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #2E4057; /* Dark Slate Blue */
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #2E4057; /* Slate Blue */
  font-family: inherit;
  border-radius: 10px;
  background-color: #FFFFFF;
}

select{
  width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #2E4057; /* Slate Blue */
  font-family: inherit;
  border-radius: 10px;
  background-color: #FFFFFF;  
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: #83AF9B; /* Silver Sage Green */
}


input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label, 
input[type="checkbox"] + label {
  display: block;
  margin-bottom: 10px;
  padding-left: 30px;
  cursor: pointer;
  line-height: 30px;
  position: relative;
}

input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border: 2px solid #2E4057; /* Slate Blue */
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

input[type="checkbox"] + label:before {
  border-radius: 5px;
}

input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
  background-color: #2E4057; /* Slate Blue */
}

input[type="submit"] {
  background-color: #2E4057; /* Slate Blue */
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: medium;
}

input[type="submit"]:hover {
  background-color: #fafafa; /* Silver Sage Green */
  color: #2E4057; /* Slate Blue */
  border: 3px solid #2E4057;
  font-weight: 800;
  font-size: medium;
}
